<footer class="footer bg-black">
    <div class="container">
        <div class="row py-3">
            <!-- <div class="col d-flex justify-content-center text-center">
                <a class="btn btn-yellow font-weight-bold" role="button">
                    <span class="px-2 h5">Donate</span>
                </a>
            </div> -->
        </div>
        <div class="row">
            <div class="col-md order-sm-1 order-md-1">
                <div class="py-3">
                    <h4 class="text-light">VOTE</h4>
                    <span class="text-light">Primary Elections: August 2nd, 2022</span>
                    <br>
                    <span class="text-light">Election Day: November 3rd, 2020</span>
                </div>
                <div class="py-3">
                    <h4 class="text-light">VOLUNTEER</h4>
                    <span class="text-light">Please contact us for <a [routerLink]="['/contact']">volunteer</a>
                        opportunities.</span>
                </div>
            </div>
            <div class="col-md order-sm-3 order-sm-2">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <a class="px-3"
                            href="https://www.facebook.com/pages/category/Political-Candidate/Pamela-David-for-County-Commissioner-110231250686749/">
                            <img src="/assets/images/Facebook Logo.svg" width="50px">
                        </a>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <a class="px-3" href="https://instagram.com/pameladavid4countycommissioner?igshid=5td2of11rr9j">
                            <img src="/assets/images/Instagram Logo.svg" width="50px">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md order-sm-2 order-md-3">
                <div class="py-3">
                    <h4 class="text-light">CONTACT US</h4>
                    <span class="text-light">Use the form provided <a [routerLink]="['/contact']">here</a>, or feel free
                        to call or email using the information below:</span>
                    <br>
                    <br>
                    <span class="text-light">Phone: <a href="tel:+15864848751">586-484-8751</a></span>
                    <br>
                    <br>
                    <span class="text-light">Email: <a
                            href="mailto:pameladavid4boc@gmail.com">pameladavid4boc@gmail.com</a></span>
                </div>
            </div>
        </div>
        <div class="row justify-content-center py-3">
            <span id="copyright" class="text-muted text-center">Copyright 2022 <br> Site developed by Salt Free
                Interactive LLC</span>
        </div>
    </div>
</footer>